[server]
cert_key = /etc/grafana/certs/grafana.key
cert_file = /etc/grafana/certs/grafana.crt
enforce_domain = False
protocol = https

[paths]
provisioning = /etc/grafana/provisioning

[log]
level = debug