apiVersion: 1   

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: https://localhost:9090
    isDefault: true
    basicAuth: true
    basicAuthUser: {{ PROMETHEUS_USER }}
    jsonData:
      tlsSkipVerify: true
    secureJsonData:
      basicAuthPassword: {{ PROMETHEUS_PASSWORD }}
